* {
    padding: 0;
    margin: 0;
    background-color: #f6f1ee;
}

.navbarc {
    background-color: #6C5E5B;
}

.navbar i {
    color: #EE7D2D;
}

.titulo {
    color: #EE7D2D;
}

.sub1 {
    color: #EE7D2D;
}

.bg-body-naranja {
    background-color: #EE7D2D;
}